@import 'styles/variables.scss';
.header {
  position: relative;
  width: 100%;
  z-index: 2;
}
.wrapHeader {
  display: flex;
  justify-content: space-between;
  height: $headerHeight;
  align-items: center;
}

.navBarItems {
  align-items: center;
  .navBarLink {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .wrapHeader {
    display: block;
    height: auto;
  }

  .toggleHeader {
    display: flex;
    justify-content: space-between;
  }

  .wrapSideBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 70%;
    .navBarItems {
      width: 100%;
      background: #222d32;
      height: 100vh;
      opacity: .9;
      align-items: baseline;
      padding: 2.5rem 2rem;
      .navBarLink {
        margin-left: 0;
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}