@import 'styles/variables.scss';
.userHeader {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.wrapHeader {
  display: flex;
  justify-content: space-between;
  height: $headerHeight;
  align-items: center;
}

.navBarItems {
  align-items: center;
  .navBarLink {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .wrapHeader {
    display: block;
    height: auto;
  }

  .toggleHeader {
    display: flex;
    justify-content: space-between;
  }

  .wrapSideBar {
    position: relative;
  }

  .navBarItems {
    align-items: baseline;
    .navBarLink {
      margin-left: 0;
    }
  }
}