@import 'styles/variables.scss';

.image {
  max-width: 5rem;
  height: 5rem;
  border-radius: .5rem;
}

.description {
  margin-left: $gapXs;
  p  {
    margin-bottom: 0;
  }
}

.reply {
  color: $primary;
  cursor: pointer;
}