@import 'styles/variables.scss';

.shortDescription {
  font-size: 1.1em;
  line-height: 1.618;
  font-weight: bold;
  color: #333;
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 18px;
}

.content {
  img {
    width: 100%;
    height: auto;
  }
  .imageDescription {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #888;
    font-size: 14px;
  }
}