@import 'styles/variables.scss';

.simpleBlock {
  display: flex;
  height: 110px;
  cursor: pointer;
}

.image {
  max-width: 30%;
  padding: $gapXs;
  img {
    height: 90px;
    width: 100%;
    object-fit: fill;
    border-radius: 8px;
  }
}

.content {
  padding: $gapXs;
  h4 {
    margin-bottom: $gapMd;
  }
}
@media (max-width: 991px) {

}