$aboutHeight: 25rem;
$aboutWidth: 70%;


.wrapAbout {
  position: relative;
}
.about {
  position: absolute;
  top: calc($aboutHeight/2);
  background-color: aliceblue;
  width: $aboutWidth;
  max-height: $aboutHeight;
  left: calc((100% - $aboutWidth)/2);
  border-radius: 5px;
}
.aboutImageBox {
  height: 100%;
  width: 100%;
  img {
    height: 100%;
    border-radius: 12px;
  }
}

.awardBox {
  display: flex;
}
.aboutBackground {
  height: calc(($aboutHeight * 1.5) - 10rem);
  width: 100vw;
  object-fit:cover;
}