@import 'styles/variables.scss';

$aboutHeight: 25rem;
$aboutWidth: 70%;


.wrapAbout {
  position: relative;
}
.about {
  position: absolute;
  top: calc($aboutHeight);
  background-color: #ebebec;
  width: $aboutWidth;
  max-height: $aboutHeight;
  left: calc((100% - $aboutWidth - 2rem*2)/2);
  padding: 4rem 2rem;
  box-sizing: content-box;
}
.aboutImageBox {
  height: 100%;
  width: 100%;
  max-height: $aboutHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: calc($aboutHeight - 4rem);
    width: 80%;
    object-fit: fill;
  }
}

.aboutBackground {
  height: calc(($aboutHeight * 1.5));
  width: 100vw;
  object-fit:cover;
}

.contentBelowHero {
  background-color: #fff;
  padding: calc($aboutHeight - 5rem) 0 5rem;
}

@media (max-width: 991px) {
  .about {
    max-height: unset;
    padding: 2rem;
    h1 {
      text-align: center;
    }
  }

  .aboutDescription {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .aboutImageBox {
    margin-bottom: 5rem;
  }
  .contentBelowHero {
    padding: 35rem 0 5rem;
  }
}