@import 'styles/variables.scss';

.wrapImage {
  position: relative;
  height: calc($heroHeight + $headerHeight);
  .titleBlock {
    height: inherit;
  }
  .imageHero {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {

}