@import 'styles/variables.scss';

.wrapImage {
  position: relative;
  height: calc($heroHeight + $headerHeight);
  .titleBlock {
    height: inherit;
  }
  .imageHero {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    object-position: right;
    opacity: .7;
  }
}